
SYMBOLS {
    __BOOT_START__:   type = export, value = $0200;
    __STACK_START__:  type = export, value = $1000;
    __KERNEL_START__: type = export, value = $3000;
    __KERNEL_ENTRY__: type = export, value = $8000;
    __TRAP_START__:   type = export, value = $F000;
    __KERNEL_END__:   type = export, value = $FC00;

    __KERNEL_SIZE__:  type = export, value = __KERNEL_END__ - __KERNEL_START__;
    __KERNEL_LBA__:   type = export, value = __KERNEL_START__ / 512;
}

MEMORY {
    # for 6502 zero page, hardware stack and C stack 
    SEG0: start = $0000, size = $1000, fill = yes, type = rw;

    # for the use of copying from and to user space and for dynamic drivers
    WINDOW1: start = $1000, size = $1000, fill = yes, type = rw;
    WINDOW2: start = $2000, size = $1000, fill = yes, type = rw;

    # main memory for kernel code and data
    RAM:  start = $3000, size = $C000, fill = yes, type = rw;

    # for MMIO and interrupt handlers
    TRAP: start = $F000, size = $1000, fill = yes, type = rw;
}

SEGMENTS {
    ZEROPAGE: load = SEG0, type = zp;
    BOOT:     load = SEG0, type = rw, start = __BOOT_START__;

    DATA:     load = RAM, type = rw, start = __KERNEL_START__;
    BSS:      load = RAM, type = bss, define = yes;

    STARTUP:  load = RAM, type = ro, start = __KERNEL_ENTRY__;
    CODE:     load = RAM, type = ro;
    RODATA:   load = RAM, type = ro;

    TRAMPOLINE:     load = TRAP, type = rw, start = __TRAP_START__;
}
