
SYMBOLS {
    __BOOT_START__:   type = export, value = $0200;
    __STACK_START__:  type = export, value = $1000;
    __KERNEL_START__: type = export, value = $3000;
    __KERNEL_ENTRY__: type = export, value = $8000;
    __TRAP_START__:   type = export, value = $F000;
    __KERNEL_END__:   type = export, value = $FC00;

    __KERNEL_SIZE__:  type = export, value = __KERNEL_END__ - __KERNEL_START__;
    __KERNEL_LBA__:   type = export, value = __KERNEL_START__ / 512;
}

MEMORY {
    # for zero page, hardware stack, C stack and for the bootloader
    STACK: start = $0000, size = $1000, fill = yes, type = rw;

    # for copying into and out of user space and for dynamic drivers and buffers
    DYNAMIC: start = $1000, size = $2000, fill = yes, type = rw;

    # main memory for kernel code and data
    STATIC:  start = $3000, size = $C000, fill = yes, type = rw;

    # for the interrupt handlers, trampolines and assembly routines
    TRAP: start = $F000, size = $0C00, fill = yes, type = rw;

    # memory mapped I/O, interrupts vectors and the ROM
    MMIO: start = $FC00, size = $0400, fill = yes, type = rw;
}

SEGMENTS {
    ZEROPAGE:   load = STACK, type = zp;
    BOOT:       load = STACK, type = rw, start = __BOOT_START__;

    DATA:       load = STATIC, type = rw, start = __KERNEL_START__;
    BSS:        load = STATIC, type = bss, define = yes;

    STARTUP:    load = STATIC, type = ro, start = __KERNEL_ENTRY__;
    CODE:       load = STATIC, type = ro;
    RODATA:     load = STATIC, type = ro;
    INITCODE:   load = STATIC, type = ro, define = yes;

    TRAMPOLINE: load = TRAP, type = rw, start = __TRAP_START__;
}
